@font-face {
  font-family: "Druk Text Wide Cyr Bold Italic";
  src: url("./fonts/Druk Text Wide Cyr Bold Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Bold";
  src: url("./fonts/Druk Text Wide Cyr Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Heavy Italic";
  src: url("./fonts/Druk Text Wide Cyr Heavy Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Heavy";
  src: url("./fonts/Druk Text Wide Cyr Heavy Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Medium Italic";
  src: url("./fonts/Druk Text Wide Cyr Medium Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Medium";
  src: url("./fonts/Druk Text Wide Cyr Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina_Black";
  src: local("NeueMachina_Black"),
    url("./fonts/NeueMachina_Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Bold";
  src: local("NeueMachina-Bold"),
    url("./fonts/NeueMachina-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Light";
  src: local("NeueMachina-Light"),
    url("./fonts/NeueMachina-Light.ttf") format("truetype"),
    url("./fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Medium";
  src: local("NeueMachina-Medium"),
    url("./fonts/NeueMachina-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Regular";
  src: local("NeueMachina-Regular"),
    url("./fonts/NeueMachina-Regular.ttf") format("truetype"),
    url("./fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Ultrabold";
  src: local("NeueMachina-Ultrabold"),
    url("./fonts/NeueMachina-Ultrabold.ttf") format("truetype"),
    url("./fonts/NeueMachina-Ultrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Ultralight";
  src: local("NeueMachina-Ultralight"),
    url("./fonts/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}