@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    &__main {
      .header {
        &__clicker {
          & img {
            height: 30%;
          }
        }
        &__cup {
          margin-top: -4px;
          margin-right: 0;
          & img {
            height: 35%;
          }
        }
        &__prize {
          font-size: 15px;
        }
        .logo {
          left: 40%;
          top: 10%;
        }
      }
    }
    .bonus {
      font-size: 1.5em;
      line-height: 30px;
      z-index: 42;
      &__ForBuilding p {
        text-indent: 0.5em;
      }
    }
    .likes {
      &__logo img {
        height: 60px;
      }
    }
  }

  .content {
    &__button {
      & span {
        font-size: 1em;
      }
      & button {
        height: 50px;
        width: 80%;
      }
      &__shadow {
        width: 80%;
        top: -86%;
      }
    }
    &__text {
      line-height: 20px;
      font-size: 1em;
      .knight {
        left: 30%;
        height: 60vh;
        top: 46%;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__group {
      align-items: center;
      &__groups {
        margin: 0 10px;
      }
    }
    &__icons {
      &__image img {
        margin: 0 10px;
      }
    }
    &__empty {
      display: none;
    }
  }
  .ballsFirst {
    left: 50%;
    top: 20%;
  }
  .ballsSecond {
    left: 20%;
    top: 20%;
  }
  .ballsThird {
    left: 25%;
    top: 50%;
  }
}
