@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper__main {
    flex: 0.6 1 auto;
  }
  .bonus {
    font-size: 2.5em;
  }
  .header {
    height: 0vh;
    .logo {
      left: 38%;
      top: 5%;
    }
  }
  .likes {
    margin: 30px 0;
  }
  .content {
    &__button {
      & span {
        font-size: 1em;
      }
      & button {
        height: 55px;
        width: 80%;
      }
    }
    &__text {
      font-size: 2em;
      .knight {
        left: 40%;
        height: 70vh;
        top: 46%;
      }
    }
  }
  .footer {
    &__group {
      flex: 0.5 2 auto;
    }
    &__icons {
      &__image {
        width: 7%;
      }
    }
  }
  .ballsFirst {
    left: 60%;
    top: 20%;
  }
  .ballsSecond {
    left: 80%;
    top: 60%;
    z-index: 50;
  }
  .ballsThird {
    left: 25%;
    top: 60%;
  }
}
