html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Druk Text Wide Cyr Bold Italic";
  src: url("./fonts/Druk Text Wide Cyr Bold Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Bold";
  src: url("./fonts/Druk Text Wide Cyr Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Heavy Italic";
  src: url("./fonts/Druk Text Wide Cyr Heavy Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Heavy";
  src: url("./fonts/Druk Text Wide Cyr Heavy Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Medium Italic";
  src: url("./fonts/Druk Text Wide Cyr Medium Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Text Wide Cyr Medium";
  src: url("./fonts/Druk Text Wide Cyr Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina_Black";
  src: local("NeueMachina_Black"), url("./fonts/NeueMachina_Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Bold";
  src: local("NeueMachina-Bold"), url("./fonts/NeueMachina-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Light";
  src: local("NeueMachina-Light"), url("./fonts/NeueMachina-Light.ttf") format("truetype"), url("./fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Medium";
  src: local("NeueMachina-Medium"), url("./fonts/NeueMachina-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Regular";
  src: local("NeueMachina-Regular"), url("./fonts/NeueMachina-Regular.ttf") format("truetype"), url("./fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Ultrabold";
  src: local("NeueMachina-Ultrabold"), url("./fonts/NeueMachina-Ultrabold.ttf") format("truetype"), url("./fonts/NeueMachina-Ultrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Ultralight";
  src: local("NeueMachina-Ultralight"), url("./fonts/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* ::-moz-selection {
  background: #ffcc00;
}

* ::selection {
  background: #ffcc00;
}

p {
  text-indent: 0.5em;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.mob_wrapper {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-height: 100%;
  min-width: 100vh;
  background: url("../images/Background/Bg-1.png") no-repeat top center, url("../images/text/shadows.png") no-repeat bottom center, url("../images/Background/Castle.gif") no-repeat bottom right, url("../images/Background/Bg-3.gif") no-repeat center center;
  background-size: 100%, 100%, 50% 90vh, cover;
  padding: 3.6%;
}

.wrapper__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 auto;
          flex: 0.5 0 auto;
}

a {
  color: white;
}

.header {
  width: 100%;
  margin-left: -0.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 13vh;
  z-index: 50;
}

.header__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__prize {
  font-size: 20px;
  font-family: "NeueMachina-Ultrabold";
  color: white;
  text-transform: uppercase;
  text-align: left;
}

.header__results {
  font-family: "NeueMachina-Regular";
  color: rgba(255, 255, 255, 0.4);
  font-size: 8px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
}

.header__cup {
  position: relative;
  margin-right: 15px;
  margin-top: -18px;
}

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5em;
  line-height: 40px;
  font-family: "Druk Text Wide Cyr Medium Italic";
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.bonus__ForBuilding p {
  text-indent: 0;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0 20px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 50;
}

.likes__r_likes {
  position: absolute;
  padding-left: 40px;
}

.likes__transparent {
  padding-left: 20px;
}

.likes__yellow {
  position: absolute;
  padding-left: 93px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
}

.content__button {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7 0 auto;
          flex: 0.7 0 auto;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.content__button button {
  position: relative;
  height: 80px;
  width: 80%;
  -webkit-box-shadow: 0px 0px 20px 2px black;
          box-shadow: 0px 0px 20px 2px black;
  -webkit-transform: skewX(170deg);
          transform: skewX(170deg);
  background-color: #f8ff13;
  z-index: 50;
}

.content__button button:hover {
  background-color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.content__button button:hover + .content__button__shadow {
  border: solid 0.2px transparent;
  background-color: transparent;
}

.content__button__shadow {
  position: relative;
  left: 1%;
  top: -90%;
  height: 100%;
  width: 80%;
  border: solid 0.2px white;
  background-color: #400b64;
  -webkit-transform: skewX(170deg);
          transform: skewX(170deg);
  opacity: 0.8;
  z-index: 1;
}

.content__text {
  font-size: 3.5em;
  line-height: 50px;
  font-family: "Druk Text Wide Cyr Medium Italic";
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.content__text .knight {
  height: 100vh;
  top: 10%;
  position: absolute;
  left: 40%;
  z-index: 40;
}

.content__text .knight img {
  height: 90%;
}

.content__tUp {
  color: white;
  height: 80px;
  z-index: 39;
}

.content__tDown {
  -webkit-text-stroke: 1px white;
  color: rgba(248, 255, 19, 0);
  position: relative;
  top: -80px;
  z-index: 41;
}

.button_span {
  display: inline-block;
  font-style: italic;
  font-family: "Druk Text Wide Cyr Heavy Italic";
  text-transform: uppercase;
  font-size: 1.8em;
  -webkit-transform: skewX(-170deg);
          transform: skewX(-170deg);
  z-index: 46;
}

.rules {
  position: relative;
  top: 60%;
}

.footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__group__groups img {
  height: 20px;
}

.footer__icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer {
  z-index: 50;
}

.footer__group {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  position: relative;
  bottom: 0;
}

.footer__icons {
  -webkit-box-flex: 4;
      -ms-flex: 4 1;
          flex: 4 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ballsFirst {
  position: absolute;
  left: 77%;
  top: 23%;
}

.ballsSecond {
  position: absolute;
  left: 85%;
  top: 77%;
}

.ballsThird {
  position: absolute;
  left: 25%;
  top: 79%;
}

.logo {
  display: none;
  position: absolute;
  background: url("../images/Bonus/meteor.png") 0 0 no-repeat;
  width: 130px;
  height: 130px;
  left: 25%;
  -webkit-animation: logo 2s steps(47, end) infinite;
          animation: logo 2s steps(47, end) infinite;
  margin: auto;
}

@-webkit-keyframes logo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -6110px 0;
  }
}

@keyframes logo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -6110px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper__main {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6 1 auto;
            flex: 0.6 1 auto;
  }
  .bonus {
    font-size: 2.5em;
  }
  .header {
    height: 0vh;
  }
  .header .logo {
    left: 38%;
    top: 5%;
  }
  .likes {
    margin: 10px 0;
  }
  .likes__l_likes img {
    height: 46px;
  }
  .likes__r_likes {
    padding-left: 26px;
  }
  .likes__r_likes img {
    height: 46px;
  }
  .likes__transparent {
    padding-left: 15px;
  }
  .likes__transparent img {
    height: 60px;
  }
  .likes__yellow {
    padding-left: 63px;
  }
  .likes__yellow img {
    height: 60px;
  }
  .content__button span {
    font-size: 1em;
  }
  .content__button button {
    height: 55px;
    width: 80%;
  }
  .content__button__shadow {
    height: 64%;
    width: 80%;
    top: -55%;
  }
  .content__text {
    font-size: 2.5em;
  }
  .rules {
    top: 100%;
  }
  .footer__group {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5 2 auto;
            flex: 0.5 2 auto;
  }
  .footer__icons__image {
    width: 7%;
  }
  .ballsFirst {
    left: 60%;
    top: 20%;
  }
  .ballsSecond {
    left: 80%;
    top: 60%;
    z-index: 50;
  }
  .ballsThird {
    left: 25%;
    top: 60%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    background-size: 100%, 100%, 60% 70vh, cover;
  }
  .wrapper__main .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper__main .header__clicker img {
    height: 60%;
  }
  .wrapper__main .header__cup {
    margin-top: -4px;
    margin-right: 0;
  }
  .wrapper__main .header__cup img {
    height: 67%;
  }
  .wrapper__main .header__prize {
    font-size: 15px;
  }
  .wrapper__main .header .logo {
    left: 40%;
    top: 5%;
  }
  .wrapper .bonus {
    font-size: 1.5em;
    line-height: 30px;
    z-index: 42;
  }
  .wrapper .bonus__ForBuilding p {
    text-indent: 0.5em;
  }
  .wrapper .likes {
    margin: 0;
  }
  .wrapper .likes__l_likes img {
    height: 35px;
  }
  .wrapper .likes__r_likes {
    padding-left: 19px;
  }
  .wrapper .likes__r_likes img {
    height: 35px;
  }
  .wrapper .likes__transparent {
    padding-left: 9px;
  }
  .wrapper .likes__transparent img {
    height: 46px;
  }
  .wrapper .likes__yellow {
    padding-left: 47px;
  }
  .wrapper .likes__yellow img {
    height: 46px;
  }
  .content {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .content__button {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3 0 auto;
            flex: 0.3 0 auto;
    -ms-flex-preferred-size: 103px;
        flex-basis: 103px;
  }
  .content__button span {
    font-size: 1em;
  }
  .content__button button {
    height: 40px;
    width: 80%;
  }
  .content__button__shadow {
    height: 44%;
    width: 80%;
    top: -38%;
  }
  .content__text {
    line-height: 20px;
    font-size: 1em;
  }
  .content__text .knight {
    left: 45%;
    height: 70vh;
    top: 37%;
  }
  .rules {
    top: 150%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__group__groups {
    margin: 0 10px 0 10px;
  }
  .footer__icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__icons__image img {
    margin: 0 10px 0 10px;
  }
  .ballsFirst {
    left: 50%;
    top: 20%;
  }
  .ballsSecond {
    left: 20%;
    top: 20%;
  }
  .ballsThird {
    left: 25%;
    top: 50%;
  }
}

@media only screen and (max-width: 479px) {
  html,
  body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  p {
    text-indent: 2em;
  }
  hr {
    margin: 60px 0;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.4);
  }
  .wrapper {
    display: none;
  }
  .mob_wrapper {
    padding: 10% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../images-mobile/bg/back.png") no-repeat top center;
    background-size: cover;
  }
  .mob_wrapper__clikablle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 39px;
    margin: 50px 0 100px 0;
  }
  .mob_wrapper__content {
    width: 100%;
    height: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mob_wrapper__content__knight {
    z-index: 40;
  }
  .mob_wrapper__content__knight img {
    height: 550px;
  }
  .mob_wrapper__words {
    margin-left: 2%;
    position: relative;
    top: -300px;
    font-size: 2em;
    letter-spacing: 5px;
    line-height: 50px;
    font-family: "Druk Text Wide Cyr Medium Italic";
    font-style: italic;
    text-transform: uppercase;
  }
  .mob_wrapper__words__tUp {
    height: 50px;
    color: white;
    z-index: 39;
  }
  .mob_wrapper__words__tDown {
    position: relative;
    top: -50px;
    -webkit-text-stroke: 1px white;
    color: rgba(248, 255, 19, 0);
    z-index: 41;
  }
  .mob_wrapper__present {
    width: 90%;
    font-size: 1.5em;
    line-height: 40px;
    letter-spacing: 2px;
    font-family: "Druk Text Wide Cyr Medium Italic";
    color: white;
    font-style: italic;
    text-transform: uppercase;
  }
  .mob_wrapper__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .mob_wrapper__likes img {
    height: 60px;
  }
  .mob_wrapper__likes__l_likes {
    position: relative;
    left: 25%;
  }
  .mob_wrapper__likes__l_likes img {
    height: 46px;
  }
  .mob_wrapper__likes__r_likes {
    position: relative;
    left: 24%;
  }
  .mob_wrapper__likes__r_likes img {
    height: 46px;
  }
  .mob_wrapper__likes__transparent {
    position: relative;
    left: 23%;
  }
  .mob_wrapper__likes__transparent img {
    width: 300px;
  }
  .mob_wrapper__likes__yellow {
    position: relative;
    left: -20%;
  }
  .mob_wrapper__likes__yellow img {
    width: 300px;
  }
  .mob_wrapper__ForBuilding {
    width: 90%;
    text-align: end;
    letter-spacing: 2px;
    font-size: 1.5em;
    line-height: 40px;
    font-family: "Druk Text Wide Cyr Medium Italic";
    color: white;
    font-style: italic;
    text-transform: uppercase;
  }
  .mob_wrapper__button {
    margin-top: 60px;
    text-align: center;
    width: 90%;
  }
  .mob_wrapper__button button {
    position: relative;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 0px 20px 2px black;
            box-shadow: 0px 0px 20px 2px black;
    -webkit-transform: skewX(170deg);
            transform: skewX(170deg);
    background-color: #f8ff13;
    z-index: 50;
  }
  .mob_wrapper__button button span {
    font-style: italic;
    font-family: "Druk Text Wide Cyr Heavy Italic";
    text-transform: uppercase;
    font-size: 1.2em;
    -webkit-transform: skewX(-170deg);
            transform: skewX(-170deg);
  }
  .mob_wrapper__button button:hover {
    background-color: white;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .mob_wrapper__button button:hover + .mob_wrapper__button__shadow {
    border: solid 0.2px transparent;
    background-color: transparent;
  }
  .mob_wrapper__button__shadow {
    position: relative;
    left: 1%;
    top: -50px;
    height: 60px;
    border: solid 0.2px white;
    background-color: #400b64;
    -webkit-transform: skewX(170deg);
            transform: skewX(170deg);
    opacity: 0.8;
    z-index: 1;
  }
  .mob_wrapper__rules {
    margin-bottom: 60px;
  }
  .mob_wrapper__divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mob_wrapper__divider__cup {
    margin-right: 20px;
  }
  .mob_wrapper__divider__cup img {
    height: 50px;
  }
  .mob_wrapper__divider__text__prize {
    font-size: 20px;
    font-family: "NeueMachina-Ultrabold";
    color: white;
    text-transform: uppercase;
    text-align: left;
  }
  .mob_wrapper__divider__text__results {
    font-family: "NeueMachina-Regular";
    color: rgba(255, 255, 255, 0.4);
    font-size: 8px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  .mob_wrapper__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mob_wrapper__footer__groupUp {
    margin: 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mob_wrapper__footer img {
    margin: 0 10px;
    height: 20px;
  }
  .mob_wrapper__icons img {
    margin: 0 10px;
    height: 20px;
  }
  .mob_wrapper__balls {
    position: relative;
  }
  .mob_wrapper__balls__ballsFirst {
    left: 80px;
    bottom: 1200px;
    position: absolute;
  }
  .mob_wrapper__balls__ballsSecond {
    bottom: 900px;
    right: 120px;
    position: absolute;
  }
  .mob_wrapper__balls__ballsThird {
    bottom: 650px;
    right: 70px;
    position: absolute;
  }
  .mob_wrapper__logo {
    display: none;
    position: absolute;
    background: url("../images/Bonus/meteor.png") 0 0 no-repeat;
    width: 130px;
    height: 130px;
    bottom: 800px;
    left: 50px;
    -webkit-animation: logo 2s steps(47, end) infinite;
            animation: logo 2s steps(47, end) infinite;
    margin: auto;
  }
  .second {
    text-indent: 4em;
  }
}
/*# sourceMappingURL=main.css.map */